[Unit]
Description=TTBOX EDID Inject (oneshot)
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/opt/ttbox/scripts/edid/edid_apply.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
